
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    display:flex;
    height: 67px;
    font-family: 'Slabo 27px', serif;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
 width: 50%;
 padding: 12px 0;
}

.topright{
    width: 50%;
    height: 155px;
   }

.section1{
    min-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
}
.dumbleimg{
    width: 155px;
    padding: 8px 0px;
}
.section2 {
    padding-left: 63px;
    padding-right: 63px;
}
.section2 h1{
    font-size: 2.5rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}
.box{
    padding: 8px 0px;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(11, 21, 94);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box ul{
    list-style-type: none;
}
.box ul li{
    margin: 12px 2px;
}